<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body >
<div class="container">
	<div class="row">
		
   
    <div class=" col-sm-6 box">
        <h2>SignUp</h2>
        <form action="">
            <div class="inputBox">
            	<label for="">FullName</label><br>
                <input type="text" #u1  placeholder="">
                
            </div>
            <div class="inputBox">
            	<label for="">Email</label><br>
                <input type="text" #u1  placeholder="">
                
            </div>
            <div class="inputBox">
            	<label for="">Phone</label><br>
                <input type="text" #u1  placeholder="">
                
            </div>
            <div class="inputBox">
            	 <label for="">Password</label>
            	 <br>
                <input type="password" #p2  placeholder="">
               
            </div>
          <!-- <button (click)="check(u1.value, p2.value)" class="submit">Login</button> -->
          <button class="submit">SignUp</button><br/><br/>
          <div><span class="text-white">Already A Member? <a class="btn btn-light" style="float: right;" href="/login">Login</a></span></div>
        </form><br>
        <!-- <span class="text-light">{{ msg }}</span> -->
    </div>
    
    </div>
   </div> 
   
</body>